#mainSplitPane, #viewerImage {
    -fx-background-color: lavender;
}

.headerLabel {
    -fx-fill: black;
    -fx-font-size: 18px;
}

#viewerPane {
    -fx-background-color: gray;
    -fx-border-width: 5px;
}